
<form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm)">
    <h1>Login</h1>

    Email: <input type="email" formControlName="email">
    <span *ngIf="loginForm.get('email').invalid && submitForm">Please enter a valid email</span><br><br>

    Password: <input type="password" formControlName="password">
    <span *ngIf="loginForm.get('password').invalid && submitForm">Please enter a valid password</span><br><br>


    <button type="submit">Login</button>
</form>

<br>
<a routerLink="register">Create Account</a>
<!-- <br>

<a href="register">default link</a> -->