<!-- <h1>{{title}}</h1>

<button (click)="changeTitle()">Click to change the title</button> -->


<!-- <ul>
    <li *ngFor="let person of persons">
        {{person}}
    </li>
</ul> -->

<!-- <div>
    <div *ngFor="let realPerson of realPersons">
        {{realPerson | json}}
        <div *ngIf="realPerson.age < 25">{{realPerson.name}}, {{realPerson.email}}, {{realPerson.age}}</div>
    </div>
</div> -->

<!-- <div>
    <span><a routerLink="/home">Home</a></span>&nbsp;&nbsp;&nbsp;
    <span><a routerLink="/about">About</a></span>&nbsp;&nbsp;&nbsp;
    <span><a routerLink="/about/1">About 1</a></span>&nbsp;&nbsp;&nbsp;
    <span><a routerLink="/about/2">About 2</a></span>&nbsp;&nbsp;&nbsp;
    <span><a routerLink="/contact">Contact</a></span>
</div> -->

<router-outlet></router-outlet>

<!-- <app-about></app-about>
<app-contact></app-contact> -->