<h3>Home Page</h3>
<button class="btn btn-warning" (click)="logout()">Logout</button>

<a class="btn btn-primary" routerLink="/all-users">All User</a>



<form [formGroup]="postForm" (ngSubmit)="postSubmit(postForm)">
    <div class="row mb-3">
      <div class="col-sm-11">
        <input type="text" class="form-control" placeholder="add your post!" formControlName="content">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<div class="container">
    <div class="row">
        <div class="col" *ngFor="let post of posts; let i = index">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{post.createdBy.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{post.createdAt | date}}</h6>
                  <p class="card-text">{{post.content}}</p>
                  <a routerLink="/post/{{post.id}}" class="card-link">View Details</a>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </div>
</div>